packages/*
swiper/swiper/bin/*
swiper/swiper/obj/*
swiper/swiper.Droid/bin/*
swiper/swiper.Droid/obj/*
swiper/swiper.iOS/bin/*
swiper/swiper.iOS/obj/*
swiper/swiper.UWP/*
swiper/swiper.Windows/*
swiper/swiper/WinPhone/*
